/* Place your CSS styles in this file */

h1 
{
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
title
{
    font: Raleway-Bold; 
    font-size: 200px;
    text-align: right;
}
footer
{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
